.orange-cmd-header {
    background-color: #fff;
    height: 60px;
    width: 100%;
    padding-top: 1px;
}

.orange-cmd-body {
    margin-top: 30px;
    height: 500px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    float: left;
}

.orange-cmd-end {
    margin-top: 30px;
    height: 540px;
    width: 900px;
    margin-left: 10px;
    background-color: #fff;
    /*padding: 20px;*/
    float: left;
}

#shuru_div {
    height: 70px;
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

/*.orange-body > .orange-cmd-end > #shuru_div > #test10 {*/
/*    height: 100px;*/
/*    width: 700px;*/
/*    margin-left: 10px;*/
/*    margin-top: 10px;*/
/*    float: left;*/
/*}*/

#shuchu_tex {
    height: 400px;
    width: 860px;
    border: 3px solid #d9d9de;
    margin-top: 10px;
    background-color: #1b1e21;
    color: #f8f9ff;
    margin-left: 20px;
    font-size: 14px;
}

.orange-cmd-end button {
    /*float: left;*/
    margin-top: 15px;
    margin-left: 20px;
    clear: both;
    height: 38px;
    width: 130px;
    font-size: 8px;
}


#drop_area {
    position: relative;
    width: 700px;
    height: 100px;
    border: 1px dashed #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#uploadFile {
  width: 700px;
  height: 110px;
  border: 1px dashed black;
  /*margin-top: 10px;*/
  /*margin-left: 10px;*/
  opacity: 0;
  position: relative;
  z-index: 99;
}
#drop_area .text {
    position: absolute;
    width: 100%;
    top: 0px;
    text-align: center;
    font-size: 14px;
}
#img_area {
    width: 300px;
}
#img_area img {
    width: 300px;
    margin-bottom: 5px;
}
