body {
    padding: 1px;
    background-color: #f3f3f4;
    /*background-image: url("../image/beijing.jpeg");*/
    background-size: cover;
}

.orange-body {
    margin-left: 500px;
    margin-top: 160px;
    width: 550px;
    height: 380px;
    background-color: #fff;
    /*opacity: 80%;*/
}

.orange-head {
    margin-left: 150px;
}

.orange-biaoqian {
    width: 60px;
    height: 60px;
}

.orange-body span{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
}

form {
    margin-top: 40px;
}
form div {
    margin-top: 20px;
}

.layui-input {
    width: 300px;
    height: 45px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    border-left: 0px none #ccc;
}
.orange-i-icon {
    margin-top: 0px;
    float: left;
    width: 40px;
    height: 43px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    text-align: center;
    background-color: #d2d7da;
}
.orange-i-icon i {
    font-size: 25px;
    line-height: 40px;
}

.layui-btn {
    margin-left: 110px;
    width: 280px;
}
.orange-res {
    text-align: center;
    color: #007bff;
}
.layui-footer {
    margin-top: 100px;
    text-align: center;
  padding: 20px;
  min-height: 100%;
  /*margin: 0 auto -50px;*/
}
#canvas {
     display: inline-block;
    border: 1px solid #ccc;
     border-radius: 5px;
    cursor: pointer;
}