    h1 {
        margin-top: 20px;
        margin-left: 30px;
    }

    .layui-body > .orange-body > .orange-host-from > .layui-form > .layui-form-item > .layui-form-label {
        width: 150px;
        padding: 9px 5px;
    }

    .layui-body > .orange-body > .orange-host-from > .layui-form > .layui-form-item > .layui-input-block {
        width: 900px;
        margin-left: 200px
    }